body {
    background-image: url("https://images.pexels.com/photos/743986/pexels-photo-743986.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }

.main-page {
    width: 80%;
    margin: 40px auto;
}

#user, #todo {
    min-height: 60px;
    background-color: gray;
    
}
.profile {
    padding: 2%;
}

