
.left{
    min-height: 100vh;
    width: 30%;
    background-color: #0069ff;
}

.left h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.left p {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.left button {
    border: none;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    padding: 5px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Open Sans', sans-serif;
}

.left button:hover {
    background-color: rgba(255, 255, 255, 0.829);
    color: rgb(37, 37, 37);
}

.right{
    width: 70%;
    min-height: 100vh;
    background-color: #F3F5F7;
}

.right img{
    height: 500px;
    margin-bottom: 20px;
}

.landing-nav{
    height: 40px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.landing-nav a{
    margin: 5px;
    margin-right: 10px;
    padding: 2px 10px 2px 3px;
    text-decoration: none;
    border-radius: 15px;
    transition: 500ms;
}

.landing-nav a:hover{
    color: white;
    background-color: #0069ff;
}

.landing-nav i{
    margin-right: 5px;
}



/* LOGIN PAGE */

#login-page, #register-page{
    min-height: 100vh;
    width: 100%;
    background-color: #0069ff;
    font-family: 'Montserrat', sans-serif;
}

#login-page h2{
    font-weight: 600;
    width: 400px;
    color: white;
}

.login-card{
    width: 400px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: rgba(37, 37, 37, 0.719);
}

.login-card input{
    border: none;
    background-color: rgba(240, 240, 240, 0.856);
}

.login-card button{
    width: 100%;
}

/* REGISTER PAGE */


#register-page h2{
    font-weight: 600;
    width: 400px;
    color: white;
}

.register-card{
    width: 400px;
    height: 370px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: rgba(37, 37, 37, 0.719);
}

.register-card input{
    border: none;
    background-color: rgba(240, 240, 240, 0.856);
}

.register-card button{
    margin-top: 10px;
    width: 100%;
}


/* TODO PAGE */

#todo-page {
    min-height: 100vh;
    width: 100%;
}

#todo-page h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.search input{
    width: 300px;
    border: none;
    border: 1px solid rgba(161, 161, 161, 0.312);
    border-radius:  5px  0 0 5px ;
    
}

.search-btn{
    background-color: #0069ff;
    width: 30px;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* TODO MODAL */

.todo-modal{
    position: fixed;
    width: 100%;
    height: 100vh;
}

.test{
    border-radius: 15px;
}

.todo-modal .form-container{
    width: 50%;
    height: 70vh;
    border-radius: 15px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    box-shadow: 10px 38px 61px -20px rgba(0, 0, 0, 0.322);
}

.todo-modal .form-container input, textarea{
    margin: 5px 0;
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.fa-trash{
    font-size: 25px;
    color: tomato;
    cursor: pointer;
}


.todo-modal .form-container form{
    margin-bottom: 50px;
}

.close-modal{
    width: 100%;
    padding: 10px;
    color: white;
}

.todo-card i {
    font-size: 30px;
    color: #cecece;
}

.todo-card i:hover {
    color: #5a5a5a;
}

.todo-card{
    width: 250px;
    height: 150px; 
    cursor: pointer;
    margin: 10px 20px 10px 0;
    border: 1px solid rgba(128, 128, 128, 0.591);
    border-radius: 10px;
    color: rgb(39, 39, 39);
    overflow: hidden;
}   

.todo-card p {
    font-size: 10px;
}

.date {
    border-left: #ff005c 5px solid;
    border-radius: 2px;
    padding: 0 3px;
    height: 20px;
    font-size: 12px;
}

.date i {
    font-size: 20px;
}

.todo-title{
    width: 100%;
    height: 50px;
    background-color: #0069ff;
    border-radius: 10px 10px 0 0;
}


.todo-title h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

.todo-title span{
    height: 100%;
    width: 30px;
    transition: 150ms;
    cursor: pointer;
    color: white;

}

.todo-title span:hover{
    font-size: 20px;
}

.todo-title span:last-child:hover{
    font-size: 20px;
    color: #ff005c;
}


.todo-desc{
    width: 100%;
    min-height: 400px;
    border: 1px solid rgba(59, 59, 59, 0.421);
    border-radius: 0 0 10px 10px;
    padding: 20px;
    color: rgb(29, 29, 29);
}


/* PROJECT PAGE */

#project-page {
    min-height: 100vh;
    width: 100%;
}

#project-page h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}


/* PORJECT DETAIL */

#project-detail {
    min-height: 100vh;
    width: 100%;
}

#project-detail h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.project-detail-card{
    min-height: 450px;
    width: 300px;
    border-radius: 10px;
}

.project-card-title{
    height: 30px;
    width: 100%;
    background-color: #0069ff;
    border-radius: 10px 10px 0 0;
}

.project-card-title h5{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.project-detail-add{
    width: 100%;
    height: 30px;
}

.project-detail-add input{
    border: none;
    border-bottom: 1px solid grey;
    width: 200px;
    outline: none;
    font-size: 12px;
}

.project-detail-add i{
    margin-left: 10px;
    color: #0069ff;
    cursor: pointer;
}

.project-todo{
    width: 250px;
    height: 40px;
    border: 1px solid #0069ff;
    border-radius: 5px;
    font-size: 10px;
}

.desc{
    width: 95%;
}

.delete-todo{
    width: 5%;
    border-radius: 0 4px 4px 0;
    background-color: #ff005c;
}

#form-project-detail-desc textarea{
    width: 95%;
    background-color: rgba(161, 161, 161, 0.13);
}

#form-project-detail-desc input{
    margin-top: 10px ;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(161, 161, 161, 0.13);
}

.btn-desc {
    width: 90px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    background-color: #006affa7;
}


/* SOCIAL PAGE */

.social-container{
    width: 100%;
    min-height: 100vh;
    background-image: url('./full-bloom.png');
}

.social-feed{
    width: 50%;
    min-height: 500px;
    background-color: rgba(255, 255, 255, 0.575);
}


.social-feed-header{
    width: 100%;
    height: 40px;
    background-color: #006affb7;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border-radius: 10px 10px 0 0 ;
}

.social-todo-list{
    width: 100%;
    padding-top: 30px;
}

.social-todo{
    width: 90%;
    min-height: 100px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 33px -12px rgba(0, 0, 0, 0.26);
}

.user-profil-pic{
    width: 15%;
    height: 100px;
}

.user-profil-pic img{
    width: auto;
    height: 70%;
    border-radius: 50%;
}

.social-content{
    width: 70%;
    min-height: 100px;
    padding: 10px;
}

.social-vote{
    width: 15%;
    height: 100px;
    padding: 5px;
}

.social-vote span, i{
    margin: 5px 0;
    cursor: pointer;
}

.social-news-container{
    width: 30%;
    height: 580px; 
}

#news-list{
    overflow: auto;
    height: 500px;
}

.social-news-card{
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    width: 98%;
    margin: 5px 0;
    min-height: 300px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 33px -12px rgba(0, 0, 0, 0.26);
}

.social-news-card img{
    height: auto;
    width: 100%;
    border-radius: 15px 15px 0 0;
}