body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    transition: top 0.5s ease;
}

.navbar-hide {
    top: -56px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}